// ---------------------- //
// STYLE VARIABLES
// ---------------------- //

$donationFormBorderColor: #FF9D00;


// ORGANIC SHAPES //
$hasOrganicShape: false; // apply randomized shape overlays to images

// ---------------------- //
// FontAwesome ICONS
// ---------------------- //

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-brands-400.eot");
         src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-brands-400.svg") format('svg'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-brands-400.ttf") format('truetype'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-brands-400.woff") format('woff'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-brands-400.woff2") format('woff2');
}
@font-face {
  font-family: "FontAwesomeRegular";
  font-weight: normal;
  font-style : normal;
         src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-400.eot");
         src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-400.svg") format('svg'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-400.ttf") format('truetype'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-400.woff") format('woff'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-400.woff2") format('woff2');
}
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : bold;
         src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-900.eot");
         src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-900.svg") format('svg'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-900.ttf") format('truetype'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-900.woff") format('woff'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/webfonts/fa-regular-900.woff2") format('woff2');
}


// ---------------------- //
// ELEMENTS
// ---------------------- //

// Navigation
header.row .row__container {
  padding-right: 0;
  .col--12 {
    padding-right: 0;
  }
}
.header__social--desktop {
  display: none;
}

.page-navigation a {
  background: transparent;
  color: $donationFormBorderColor!important;
  border: solid 3px $donationFormBorderColor;
  border-radius: 50px;
  &:hover {
    background: $donationFormBorderColor;
    color: #fff!important;
    border: solid 3px $donationFormBorderColor;
  }
  &:after {
    content: '\f08e';
    font-family: "FontAwesomeRegular";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left:5px;
    color:red;
}
}

// Hero Row
.row--hero .row__container {
  padding-top: 0;
  .col--6 {
    @include respond-to('max-desktop') {
      width: 100%;
      padding: 0 25% 0 25%;
    }
    @include respond-to('tablet') {
      width: 100%;
      padding: 0 15% 20px 15%;
    }
    @include respond-to('mobile') {
      width: 100%;
      padding: 0 5% 20px 5%;
    }
  }
}

.row__bg {
  @include respond-to('max-desktop') {
    opacity: 55%;
  }
}

// Donation Form
.col__container .donation-form {
  &__anonymous {
    display: none;
  }
  &__other-field {
    width: 50%;
  }
}

.row .ls-form {
  @include respond-to('desktop') {
    min-height: 500px;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .col__container {
    padding-top: 0.5em;
    margin-top: 30px;
  }
}

// ---------------------- //
// ✨ YOUR CUSTOM STYLES
// ---------------------- //

// 📖  Check out our documentation for more information on how you can style you campaign: https://developers.raisely.com/docs/styling-introduction

// Add your own custom css below to get things looking just how you want

.center {
  text-align: center;
}
 
// Footer
.page 
.row__layout--footer .share::before {
  color: #444444;
}
