/* SIGNUP FORM */
.signup-form {
    &__exercise {
        &__btn {
            background: transparent;
            border-width: 1px;
            border-color: if(lightness($donationBtnBgColor) > 90, darken($donationBtnBgColor,10), mix(accessibleColor($donationBtnBgColor,$threshold:2),white,50%));
            color: accessibleColor($donationBtnTextColor);
            padding: 1rem;

            &:hover,
            &:focus {
                background: $donationBtnBgColor;
                color: $donationBtnTextColor;
                border-color: transparent;
            }
        }

        &__other {
            background: $donationFormHeaderColor;
            color: accessibleColor($primaryColor);
            &__input {
                color: accessibleColor($primaryColor);
            }
        }
    }
}